<!DOCTYPE html>
<html>
<head>
    <title>Ya estás autenticado</title>
</head>
<body>
    <p>Ya estás autenticado.</p>
    <p>¿Deseas cerrar sesión?</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>
