<!DOCTYPE html>
<html>
<head>
    <title>Editar Tarea</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            border: 2px solid #0F0;
            padding: 40px;
        }
        h1 {
            font-size: 36px;
        }
        label {
            display: block;
            font-size: 18px;
            margin: 10px 0;
        }
        input[type="text"],
        textarea,
        select {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 10px;
            font-size: 18px;
            border-radius: 5px;
            width: 100%;
        }
        input[type="submit"] {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        input[type="submit"]:hover {
            background-color: #0F0;
            color: #000;
        }
        .hacker-button {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        .hacker-button:hover {
            background-color: #0F0;
            color: #000;
        }
        .menu {
            background-color: #111;
            border: 2px solid #0F0;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
        .menu a {
            text-decoration: none;
            color: #0F0;
            margin: 10px;
        }
        .logout-link {
            background-color: #000;
            color: #f00;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .logout-link:hover {
            background-color: #f00;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="/tarea-lista/">Lista de Tareas</a>
            <a href="{% url 'logout' %}" class="logout-link">Cerrar Sesión</a>
        </div>
        <h1>Editar Tarea</h1>
        <form method="post" id="editar-tarea-form">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" id="titulo" value="{{ tarea.titulo }}">

            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion">{{ tarea.descripcion }}</textarea>

            <label for "completada">Completada:</label>
            <select name="completada" id="completada">
                <option value="si" {% if tarea.completada == 'si' %}selected{% endif %}>Sí</option>
                <option value="no" {% if tarea.completada == 'no' %}selected{% endif %}>No</option>
            </select>

            <label for "asignado">Asignado:</label>
            <select name="asignado">
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id.username }}">{{ usuario.username }}</option>
                {% endfor %}
            </select><br><br><br>
            <input type="submit" value="Guardar Cambios" class="hacker-button">
        </form>
    </div>
</body>
</html>
