<!DOCTYPE html>
<html>
<head>
    <title>Eliminar Tarea</title>
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .hacker-button {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }
        
        .hacker-button:hover {
            background-color: #0F0;
            color: #000;
        }        
        .container {
            text-align: center;
            border: 3px solid #0F0;
        }
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 18px;
            margin: 10px;
        }
        strong {
            color: #0F0;
        }
        form {
            margin-top: 20px;
        }
        input[type="submit"] {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #0F0;
            color: #000;
        }
        .menu {
            background-color: #111;
            border: 2px solid #0F0;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
        .menu a {
            text-decoration: none;
            color: #0F0;
            margin: 10px;
        }
        .logout-link {
            background-color: #000;
            color: #f00;
            border: 1px solid #0F0;
            padding: 10px 20px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .logout-link:hover {
            background-color: #f00;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="/tarea_form/">Crear Tarea</a>
            <a href="/tarea-lista/">Lista de Tareas</a>
            <a href="{% url 'logout' %}" class="logout-link">Cerrar Sesión</a>
        </div>
        <h1>Informacion Tarea</h1>
        <br>
        <ul>
            <li><strong>ID:</strong> {{ tarea.id }}</li><br>
            <li><strong>Título:</strong> {{ tarea.titulo }}</li><br>
            <li><strong>Descripción:</strong> {{ tarea.descripcion }}</li><br>
            <li><strong>Completada:</strong> {{ tarea.completada }}</li><br>
            <li><strong>Fecha Creación:</strong> {{ tarea.fecha_creacion }}</li><br>
            <li><strong>Asignado a:</strong> {{ tarea.user }}</li><br><br>
        </ul>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            function confirmarEliminacion(tareaId) {
                Swal.fire({
                    title: '¿Eliminar tarea?',
                    text: '¿Estás seguro de que deseas eliminar esta tarea?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        eliminarTarea(tareaId);
                    }
                });
            }

            function eliminarTarea(tareaId) {
                $.ajax({
                    type: 'POST',
                    url: `/eliminar-tarea/${tareaId}/`,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (data) {
                        if (data.mensaje === 'Tarea eliminada con éxito') {
                            Swal.fire('Tarea eliminada', data.mensaje, 'success');
                            window.location.href = '/tarea-lista/';
                        } else {
                            Swal.fire('Error', 'No se pudo eliminar la tarea.', 'error');
                        }
                    },
                    error: function () {
                        Swal.fire('Error', 'No se pudo eliminar la tarea.', 'error');
                    }
                });
            }
        </script>
    </div>
</body>
</html>
