<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .card {
            width: 300px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #222;
            border: 2px solid #0F0;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            font-weight: bold;
            color: #0F0;
            padding: 5px 80px;
        }
        .btn-login {
            background-color: #0F0;
            color: black;
            font-weight: bold;
            border: none;
            padding: 10px 20px;
            width: 100%;
        }
        .form-control {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
        }
        .card h1 {
            background-color: #000;
            color: #0F0;
            padding: 10px;
            border-radius: 20px;
        }
        .password-container {
            position: relative;
        }
        
        .password-toggle {
            position: absolute;
            right: -8px;
            top: 2px;
            cursor: pointer;
            background: none;
            border: none;
        }
        
    </style>
</head>
<body>
    <div class="card">
        <form method="post" action="{% url 'login_view' %}">
            {% csrf_token %}
            <h1 class="text-center">Iniciar Sesión</h1>
            <div class="form-group">
                <label for="username">Usuario:</label>
                <input type="text" class="form-control" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <div class="input-group">
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="input-group-append">
                        <span class="input-group-text password-toggle" id="toggle-password" onclick="togglePasswordVisibility(this)">👁️</span>
                    </div>
                </div>
            </div>            
            <button type="submit" class="btn btn-login">Iniciar Sesión</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            form.addEventListener('submit', async function (e) {
                e.preventDefault();
                const formData = new FormData(form);
                const response = await fetch(form.action, {
                    method: 'POST',
                    body: formData,
                });
                const result = await response.json();

                if (result.message === 'Sesión iniciada') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Sesión iniciada',
                    }).then(() => {
                        window.location.href = result.redirect;
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Credenciales incorrectas',
                    });
                }
            });
        });
    </script>
    <script>
        function togglePasswordVisibility(icon) {
            const passwordField = document.getElementById('password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                icon.textContent = '👁️';
            } else {
                passwordField.type = 'password';
                icon.textContent = '👁️';
            }
        }
    </script>
</body>
</html>
