<!DOCTYPE html>
<html>
<head>
    <title>Cierre de Sesión Exitoso</title>
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
            text-align: center;
            margin-top: 100px;
        }
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 24px;
        }
        .hacker-button {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 5px 10px;
            font-size: 16px;
            text-decoration: none;
            border-radius: 5px;
        }
        
        .hacker-button:hover {
            background-color: #0F0;
            color: #000;
        } 
    </style>
</head>
<body>
    <h1>Cierre de Sesión Exitoso</h1>
    <p>Has cerrado sesión correctamente.</p>
    <a href="{% url 'tarea_form' %}" class="hacker-button">Iniciar Sesion</a>
</body>
</html>
