<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas Completadas</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
        }
        .hacker-button {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 5px 10px;
            font-size: 16px;
            text-decoration: none;
            border-radius: 5px;
        }
        
        .hacker-button:hover {
            background-color: #0F0;
            color: #000;
        }        
        h1 {
            font-size: 36px;
            text-align: center;
            margin-top: 50px;
        }
        table {
            border-collapse: collapse;
            margin: 0 auto;
        }
        th, td {
            border: 1px solid #0F0;
            padding: 10px;
            text-align: center;
            font-family: 'Courier New', monospace;
            font-size: 18px;
            color: #0F0;
        }
        th {
            background-color: #000;
        }
        td {
            background-color: #000;
        }
        tr:nth-child(even) {
            background-color: #222;
        }
        tr:nth-child(odd) {
            background-color: #111;
        }
        .dataTables_wrapper {
            background-color: #000;
        }
        .dataTables_length select,
        .dataTables_filter input,
        .dataTables_info,
        .dataTables_paginate {
            color: #0F0;
        }
        .dataTables_previous,
        .dataTables_next {
            background-color: #0F0;
            color: #0F0;
            padding: 5px;
        }
        .dataTables_filter label {
            color: #0F0;
        }
        .dataTables_info {
            color: #0F0;
        }
        .dataTables_length label {
            color: #0F0;
        }
        .dataTables_length {
            color: #0F0;
        }
        .dataTables_info {
            color: #0F0;
        }
        .dataTables_paginate {
            color: #0F0;
        }
        .button.logout-link {
            background-color: red;
            color: #0F0; 
        }        
    </style>
</head>
<body>
    <h1>Lista de Tareas Completada</h1>
    <div style="text-align: center;">
        <a href="{% url 'tarea_form' %}" class="hacker-button">Agregar Tarea</a>
        <a href="{% url 'tarea-lista' %}" class="hacker-button">Lista Tarea</a>
        <a href="{% url 'logout' %}" class="button logout-link hacker-button">Cerrar Sesión</a>
    </div>
    <br><br><br>
    <table id="tareas-list" class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Completada</th>
                <th>Fecha de Creación</th>
                <th>Edi/Inf</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
                <td>{{ tarea.titulo }}</td>
                <td>{{ tarea.descripcion }}</td>
                <td>
                    <span class="completada">{{ tarea.completada }}</span>
                </td>
                <td>{{ tarea.fecha_creacion }}</td>
                <td>
                    <a href="{% url 'editar_tarea' tarea.id %}" class="hacker-button">EDI</a>
                    <a href="{% url 'eliminar_tarea' tarea.id %}" class="hacker-button">INF</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $('#tareas-list').DataTable();
        });
    </script> 
    {% comment %} <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    
        $(document).ready(function() {
            $('#tareas-list').DataTable();
            
            $('.cambiar-completada').on('click', function() {
                const tareaId = $(this).data('tarea-id');
                const completadaElement = $(this).siblings('.completada');
                const completadaActual = completadaElement.text();
    
                Swal.fire({
                    title: '¿Cambiar el estado de esta tarea?',
                    text: `El estado actual es: ${completadaActual}`,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const csrfToken = getCookie('csrftoken');
    
                        $.ajax({
                            method: 'POST',
                            url: `/cambiar-completada/${tareaId}/`,
                            data: {
                                nueva_completada: (completadaActual === 'no') ? 'si' : 'no'
                            },
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                            },
                            success: function(response) {
                                completadaElement.text(response.nueva_completada);
                                Swal.fire('OK', `El nuevo estado de la tarea es: ${response.nueva_completada}, por favor recargar la pagina`, 'success');
                            },
                            error: function() {
                                Swal.fire('Error', 'No se pudo cambiar el estado de la tarea.', 'error');
                            }
                        });
                    }
                });
            });
        });
    </script> {% endcomment %}
         
</body>
</html>
