<!DOCTYPE html>
<html>
<head>
    <title>Crear Tarea</title>
    <style>
        body {
            background-color: #000;
            color: #0F0;
            font-family: 'Courier New', monospace;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            background-color: #111;
            border: 2px solid #0F0;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
        h1 {
            font-size: 36px;
        }
        label {
            display: block;
            font-size: 18px;
            margin: 10px;
        }
        select, input[type="text"], textarea, .button {
            background-color: #000;
            color: #0F0;
            border: 1px solid #0F0;
            padding: 5px;
            font-size: 18px;
            text-decoration: none;
            border-radius: 5px;
            width: 100%;
        }
        .button {
            padding: 10px 20px;
            cursor: pointer;
        }
        .button:hover {
            background-color: #0F0;
            color: #000;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .navbar a {
            color: #0F0;
            text-decoration: none;
            padding: 5px 5px;
            font-size: 18px;
            border: 1px solid #0F0;
            border-radius: 5px;
            margin-right: 10px;
        }
        .navbar a.logout-link {
            color: #f00;
            background-color: #000;
        }
        .navbar a.logout-link:hover {
            background-color: #f00;
            color: #000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="/tarea-lista/" class="button">Lista de Tareas</a>
            <a href="{% url 'logout' %}" class="button logout-link">Cerrar Sesión</a>
        </div>
        <h1>Crear Nueva Tarea</h1>
        <form method="post">
            {% csrf_token %}
            <label for="titulo">Título:</label>
            <input type="text" name="titulo" required>

            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" required></textarea>

            <div class="mb-3" style="display: none;">
                <label for="completada">Completada:</label>
                <select name="completada" id="completada">
                    <option value="no" {% if tarea.completada == 'no' %}selected{% endif %}>No</option>
                </select>
            </div>

            <label for="asignado">Asignado:</label>
            <select name="asignado">
                <option value="">Selecciona un usuario</option>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.id }}">{{ usuario.username }}</option>
                {% endfor %}
            </select>
            <br><br><br>

            <input type="submit" value="Crear Tarea" class="button">
        </form>
    </div>
</body>
</html>
